* {
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* common css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}
.header .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  gap: 10px;
}
.header .auth ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  gap: 10px;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* footer */
