@import url("https://fonts.cdnfonts.com/css/century-gothic");
* {
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Century Gothic", sans-serif;
}
/* common css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  background-color: black;
}
.header .menu ul,
.header .auth ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
  margin-bottom: 0;
}
.header .menu ul li a {
  color: #fff;
  font-size: 18px;
  padding: 5px 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.header .menu ul li a.active {
  border: 1px solid rgb(255, 255, 255);
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

/* footer */
